*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20%;
    align-items: center;
    background-color:#F5F7FA;
    /* overflow-y: scroll; */
}

.nav-bar{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5%;
    gap: 1%;
    background-color: #003087;
}

.nav-button{
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-button:hover{
    background-color: #E6F1FF;
}

.login{
    height: 50%;
    width: 28%;
    border: solid .05px #808080;
    border-radius: 7px;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    box-shadow:
        0 4px 6px rgba(0,0,0,0.08),
        0 10px 20px rgba(0,0,0,0.12);
    background-color: white;
}

.login h2{
    font-size:28px;
    color:#003087;
}

.login h2 i{
    color: #0070E0;
}

.login div{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.login input{
    height: 12%;
    width: 100%;
    padding-left: 3%;
    border: none;
    border-bottom: 1px solid #808080;
    font-size: 14px;
}

.login input:focus{
    outline:none;
    border-color:#0070E0;
}

.login a{
    height: 15%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #0070E0;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.2s;
}

.login a:hover{
    cursor: pointer;
    background-color: #1763C7;
}