body{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    /* width: 100vw; */
    min-height: 100vh;
    margin: 0;
    row-gap: 30px;
    padding: 30px;
}

div{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

.isometrico1 {
    height: 450px;
    width: 350px;
}

.isometrico2 {
    height: 420px;
    width: 300px;
}

.isometrico3{
    height: 510px;
    width: 400px;
}

.isometrico4{
    height: 330px;
    width: 350px;
}