body{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    /* width: 100vw; */
    min-height: 100vh;
    margin: 0;
    row-gap: 30px;
    padding: 30px;
}

div{
    height: 450px;
    width: 350px;
    border: 1px solid red;
    margin: 0;
    padding: 0;
}