body{
    background-color: antiquewhite;
}

main{
    display: flex;
    justify-content: center;
}

#top {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#top div {
    width: 700px;
    height: 90px;
    background-color: rgba(17, 17, 131, 0.966);
    border-radius: 5px;
}

#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 700px;
}


#primero{
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

#segundo{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #8CBE8B;
    width: 230px;
    height: 170px;
    border-radius: 3px;
    padding-bottom: 30px;
}

#rombo_externo{
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 3px;
    background-color: #179197;
    width: 120px;
    height: 120px;
}
#rombo_interno{
    border-radius: 3px;
    background-color: #EE891F;
    width: 80px;
    height: 80px;
}

#tercero{
    background-color: #8CBE8B;
    width: 230px;
    height: 200px;
}