body{
    background-color: antiquewhite;
}

main{
    display: flex;
    justify-content: center;
}

#top {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#top div {
    width: 710px;
    height: 90px;
    background-color: #073966;
    border-radius: 5px;
}

#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 705px;
}


#red_square{
    background-color: #EE4433;
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

#green_rectangle_rombus{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #8CBE8B;
    width: 230px;
    height: 170px;
    border-radius: 3px;
    padding-bottom: 30px;
}

#external_rhombus{
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 3px;
    background-color: #179197;
    width: 120px;
    height: 120px;
}
#internal_rhombus{
    border-radius: 3px;
    background-color: #EE891F;
    width: 80px;
    height: 80px;
}

#green_rectangle{
    background-color: #8CBE8B;
    width: 230px;
    height: 200px;
    border-radius: 3px;
}

#orange_square{
    background-color: #E9AC32;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

#orange_external_square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-color: antiquewhite;
    border-radius: 3px;
}

#orange_internal_square{
    width: 100px;
    height: 100px;
    background-color: #EE4433;
    border-radius: 3px;
}

#purple_circle{
    display:flex;
    justify-content: center;
    align-items: center;
}

#purple_circle div{
    background-color: #8A3B50;
    border-radius: 50%;
    width: 190px;
    height: 190px;
}

#orange_circle{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

#orange_circle div{
    background-color: #EE891F;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

#bars{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#first_bar{
    width: 200px;
    height: 80px;
    background-color: #EE891F;
    border-radius: 3px;
}

#second_bar{
    width: 200px;
    height: 30px;
    background-color: #EE891F;
    border-radius: 3px;
}

#third_bar{
    width: 200px;
    height: 30px;
    background-color: #F96F6D;
    border-radius: 3px;
}

#fourth_bar{
    width: 200px;
    height: 30px;
    background-color: #F96F6D;
    border-radius: 3px;
    margin-bottom: -50px;
}

#blue_square{
    background-color: #199398;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 215px;
    height: 200px;
    margin-left: 20px;
}

#blue_external_square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 120px;
    background-color: antiquewhite;
    border-radius: 3px;
}

#blue_internal_square{
    width: 120px;
    height: 80px;
    background-color: #2EA19E;
    border-radius: 3px;
}

#green_square{
    background-color: #8CBE8B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 230px;
    height: 220px;
    margin-top: -20px;
}

#green_external_square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-color: antiquewhite;
    border-radius: 3px;
}

#green_internal_square{
    width: 100px;
    height: 100px;
    background-color: #479A66;
    border-radius: 3px;
}

